<section class="py-5">
    <h1 class="display">
        Merci pour votre Visite et achat !
    </h1>
    <p class="lead">
        Vous allez recevoir un email de confirmation de votre achat 
    </p>
    <a href="/" class="btn btn-dark btn-lg">Revenir page d'accueil</a>
</section>